{% extends "mercato/base.html"%}
{% load staticfiles %}


    {% block content %}

    <!-- main page -->
    <div id="sub-main">
       
        <div class="container-fluid">
            <div class="row text-center align-items-center">
                <div class="col-12">
                   <div class="text-partner">
                       <h1 class="display-6">About Us</h1>
                      
                   </div>
                   <hr>
                </div>
            </div>
        </div>
            
    </div>
    <!-- End main page -->

   <div id="sub-content">
       <div class="container">
          <div class="row">
              <div class="col-12 text-center">
                  <p style="padding-top: 1rem; font-size: 1.3rem; text-align: justify">
                              
                              When it comes to trusted business partner, Br-Mercato located in Porto Alegre - RS is the ideal partner for you in inspection, procurement and sourcing.
                              Br-Mercato has built a solid reputation in wide geography in Europe and principaly in Africa.
                  </p>
              </div>
          </div>
           <div class="row">
                               
                <div class="col-12 text-center">                    
                     <div class="text-partne">
                       <h4 class="">Vision & Pilosophy</h4>
                   </div>
                   <hr style="width: 20rem; color: #000 ! importante;">
                   
                   
                    <p style="font-size: 1.3rem; text-align: justify"> The vision of Br-Mercato Global Trading Service Ltd. is simply to provide the top quality service to the requirements of the partners around the world.</p>

                    <p style="font-size: 1.3rem; text-align: justify">We, as Br-Mercato Global Trading Service Ltd, believe that a reputation as an honest and reliable business is the recipe for success. While others seek to profit by cutting corners or recommending unnecessary services to customers, Br-Mercato Global Trading Ltd. believes that a good reputation and consistent service will reap bigger profits in the long run.</p>

                    <p style="padding-bottom: 1rem; font-size: 1.3rem; text-align: justify">Br-Mercato Global Trading Service Ltd. believes that they will enjoy a long term profitable business that serves the community.</p>
                   
                </div> 
                
           </div>
       </div>
   </div> 

{% endblock %}