{% extends "mercato/base.html"%}
{% load staticfiles %}


    {% block content %}

    <!-- main page -->
    <div id="sub-main">
       
        <div class="container-fluid">
            <div class="row text-center align-items-center">
                <div class="col-12">
                   <div class="text-partner">
                       <h1 class="display-6">Business Divisions</h1>
                      
                   </div>
                   <hr>
                </div>
            </div>
        </div>
            
    </div>
    <!-- End main page -->

   <div id="sub-content">
       <div class="container">
           <div class="row">
                          
                
                <div class="col-sm-12 col-md-6 border-dark mb-3 mt-3">                    
                    <div class="card">
                        <img class="card-img-top" src="{% static "img/agro/agro_8.jpg" %}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Agri Business</h5>
                            <p class="card-text">Brazil is the world’s largest producer and exporter of coffee, sugar, and orange juice, and is highly ranked in the production and export of soybean, corn, ethanol, pork, beef, and poultry chicken. Today, agribusiness represents 22% of Brazil’s GDP and almost 40% of exports.</p>
                            <a href="/agri-business" class="btn btn-warning btn-block">Read more</a>
                        </div>                                             
                    </div>
                </div>
                
                <div class="col-sm-12 col-md-6 border-dark mb-3 mt-3">                    
                    <div class="card">
                        <img class="card-img-top" src="{% static "img/ferro-aco/verga.jpg" %}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Steel & Aluminium</h5>
                            <p class="card-text">Today, Brazil ranks amongst the top 10 steel producing countries in the world. Brazil accounts for about 2.8% of the total world’s steel exports. The significant growth in the Brazilian steel industry is backed by the use of the most modern and state-of-the-art production technologies.</p>
                            <a href="/steel-aluminium" class="btn btn-warning btn-block">Read more</a>
                        </div>                                             
                    </div>
                </div>
                
                <div class="col-sm-12 col-md-6 border-dark mb-3">
                    <div class="card">
                        <img class="card-img-top" src="{% static "img/calcado/sapatos-femininos.jpg" %}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Footwear & Accessories</h5>
                            <p class="card-text">Currently, Brazil is is the third largest footwear producer in the world, being the third largest shoe manufacturer in the world.
The export of the Brazilian shoe is made to more than 150 countries.</p>
                            <a href="/footwear-acessorie" class="btn btn-warning btn-block">Read more</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-6 border-dark mb-3">
                    <div class="card">
                        <img class="card-img-top" src="{% static "img/papel/papel.jpg" %}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Paper & Pulp</h5>
                            <p class="card-text">Brazil is the third largest producer of pulp and paper in the world. Exporting and producing office supplies, kraft paper, corrugated paper and all derivatives. </p>
                            <a href="/paper-pulp" class="btn btn-warning btn-block">Read more</a>
                        </div>                                             
                    </div>
                </div>
                
                
           </div>
       </div>
   </div> 

{% endblock %}
