{% load staticfiles %}
{% load i18n %}

<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}

<html lang="{{LANGUAGE_CODE}}">
<head>
 <!-- Meta -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  
  <!-- Favicon-->
  <link rel="icon" href="{% static "/img/rect1.ico" %}" type="image/gif" sizes="32x32">
  
  <!-- Title-->
  <title>Br-Mercato | Trade Consulting Service</title>
  
  <!-- google fonts-->
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
  
  <!-- Stylesheet-->
  <link rel="stylesheet" href="{% static "/vendor/bootstrap/dist1/css/bootstrap.min.css" %}">
  <link rel="stylesheet" href="{% static "/vendor/font-awesome/css/font-awesome.min.css" %}">
  <link rel="stylesheet" href="{% static "/vendor/owl.carousel/dist/assets/owl.carousel.min.css" %}">
  <link rel="stylesheet" href="{% static "/vendor/magnific-popup/dist/magnific-popup.css" %}">
  <link rel="stylesheet" href="{% static "/vendor/icomoon/style.css" %}">
  <link rel="stylesheet" href="{% static "/css/animate.min.css" %}">
  <link rel="stylesheet" href="{% static "/css/style.css" %}">
  <link rel="stylesheet" href="{% static "/css/color/yellow.css" id="theme-color" %}">
  
</head>

<body id="top">
 
 
<!-- LOADER TEMPLATE -->
<div id="page-loader">
  <div class="loader-icon fa fa-spin colored-border"></div>
</div>
<!-- /LOADER TEMPLATE -->
  
  
 <header id="intro-hero">
  
   <nav id="main-nav" class="navbar-fixed-top">
     <div class="container-fluid">
       <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#beborn-nav-collapse" aria-expanded="false">
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </button>
        <a class="navbar-brand" href="#top">
           <!-- <img class="logo-default" src="assets/img/default-logo.png" alt=""> -->
            <img class="logo-white" src="{% static "/img/merc3.png" %}" alt=""> 
            
        </a>
       </div>        
       <div class="collapse navbar-collapse" id="beborn-nav-collapse">
         <ul class="nav navbar-nav pull-right">
           <li><a href="#steps">{% trans "How it works" %}</a></li>
           <li><a href="#services">{% trans "Services" %}</a></li>
           <li><a href="#approach">{% trans "approach" %}</a></li>
           <li><a href="#main-benefits">{% trans "Benefits" %}</a></li>

           <li><a href="#pricing">{% trans "Pricing" %}</a></li>
         <!--  <li><a href="#testimonials">testimonials</a></li>
           <li><a href="#team">team</a></li> -->
           <li><a href="#contact">{% trans "Contact" %}</a></li>
         <!--  <li><a href="#faq">faq</a></li> -->



<li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Lang <b class="caret"></b></a>
        <ul class="dropdown-menu dropdown-menu-right">
            {% get_available_languages as LANGUAGES %}

            {% for lang in LANGUAGES %}

          <li><a href="/{{ lang.0 }}/">({{ lang.0 }}) {{ lang.1 }} </a></li>

          {% endfor %}

        </ul>
      </li>



          
         </ul>
       </div><!-- END collapse navbar-collapse -->
     </div><!-- END container-fluid-->
   </nav> <!-- END main-menu -->
     
   
   
    <div id="hero-content">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 text-center">

               <h1 class="hero-title">{% blocktrans %} We have been working very hard <br> to Connect Africa to Brasilian Market. {% endblocktrans %}</h1>
          <!--  <p class="hero-tagline">
              We have been working very hard to create the new version. <br> It comes with a lot of new features. Check it out now!
            </p>
            <div class="intro-btn mt-20">
             <a href="https://www.youtube.com/watch?v=fGMk8daxF08" class="play-video">
               {% trans "Play video" %} {{LANGUAGE_CODE}} <span class="icon icon-play-button2"></span>
             </a>
             <a href="#steps" class="btn btn-theme scrolling">
               Learn more
             </a>
            </div> -->
          </div> <!-- END col-sm-12-->
        </div> <!-- END row-->
      </div> <!-- END container-->
    </div> <!-- END hero-content-->
  
  
    <div id="header-form">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">

            <form class="registration-form" data-toggle="validator" id="newsForm">
                <div class="text-center" style="padding-top=0; margin-top:-3em;">
                  <h3> {% trans "Get our Newsletters" %} </h3>
                    <h6>{% trans "The last and the best in your email" %}</h6>
              </div>
              <div class="row">
                <div class="col-md-3 col-sm-6">
                  <div class="form-group">
                    <input type="text" class="form-control" id="name" placeholder="{% trans "Full name (Optional)" %}" >
                  </div>
                </div>
                <div class="col-md-3 col-sm-6">
                  <div class="form-group">
                    <input type="email" class="form-control" id="email" placeholder="Email" required>
                  </div>
                </div>
                <div class="col-md-3 col-sm-6">
                  <div class="form-group">
                    <input type="tel" class="form-control" id="phone" placeholder="{% trans "Phone Number (Optional)" %}">
                  </div>
                </div>
                <div class="col-md-3 col-sm-6">
                  <div class="form-group">
                    <button class="btn btn-block btn-theme ">{% trans "Send" %}</button>
                  </div>

                </div>
              </div>
                <style>
                    .fa-spin{
                        animation: fa-spin 2s infinite linear
                    }
                </style>

               <div class="text-center" style="background-color: #ffb81e; display: none; margin-top: 1rem;" id="spin" > <i class="fa fa-spinner fa-2x fa-spin" aria-hidden="true"></i> {% trans "Loading ..." %}"</div>

               <div class="text-center" style="background-color: #ffb81e; display: none;margin-top: 1rem;" id="checked" > <i class="fa fa-check-circle fa-2x " style="color:green" aria-hidden="true"></i>{% trans  "Thanks for subscribing ..." %}</div>

                <div class="text-center" style="background-color: #ffb81e; display: none;margin-top: 1rem;" id="wrong" > <i class="fa fa-times-circle fa-2x " style="color:red" aria-hidden="true"></i> {% trans "Something went wrong ..." %}</div>

            </form> <!-- END registration-form-->
          </div> <!-- END row-->
        </div> <!-- END row-->
      </div> <!-- END container-->
    </div> <!-- END header-form-->
    
 </header> <!-- END header-->




<section id="steps">
  <div class="container">
   
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2 class="section-title">{% blocktrans %} Solution in 4 <span class="color-text"> Easy </span> Steps {% endblocktrans %} </h2>
        <p class="section-tagline">
            <strong>{% blocktrans %} Connecting </strong> <span class="color-text"> <strong> Africa to the Brazilian</strong></span> <strong> market {% endblocktrans %}</strong>,
            <br> <strong>{% blocktrans %} New World, </strong> <strong> New market, </strong> <span class="color-text"> <strong> New relationship</span> {% endblocktrans %} </strong>
        </p>
      </div> <!-- END col-sm-12-->
    </div> <!-- END row-->
    
    <div class="row">
     
      <div class="col-md-3 col-sm-6 text-center mt-30 wow fadeInLeft" data-wow-delay=".1s">
       <div class="steps-block">
        <div class="step-iocn bg-yellow">
          <i class="fa fa-at"></i>
          <div class="step-count">1</div>
        </div>
        <h4 class="block-title">
          {% trans "Email us" %}
        </h4>
        <p>
          {% trans "Send us a message via contact or email." %}
        </p>
       </div> <!-- END steps-block-->
      </div> <!--END col-md-3 col-sm-6-->
      
      <div class="col-md-3 col-sm-6 text-center mt-30 wow fadeInLeft" data-wow-delay=".2s">
       <div class="steps-block">
        <div class="step-iocn bg-theme">
         <i class="fa fa-cart-arrow-down"></i>
          <div class="step-count">2</div>
        </div>
        <h4 class="block-title">
          {% trans "What are Your Needs" %}
        </h4>
        <p>
          {% trans "Your needs and your especifications." %}
        </p>
       </div> <!-- END steps-block-->
      </div> <!--END col-md-3 col-sm-6-->
      
      <div class="col-md-3 col-sm-6 text-center mt-30 wow fadeInRight" data-wow-delay=".3s">
       <div class="steps-block">
        <div class="step-iocn bg-theme">
          <i class="fa fa-usd"></i>
          <div class="step-count">3</div>
        </div>
        <h4 class="block-title">
          {% trans "Best Prices" %}
        </h4>
        <p>
          {% trans "We show to you the best prices from the Brazilian market." %}
        </p>
       </div> <!-- END steps-block-->
      </div> <!--END col-md-3 col-sm-6-->
      
      <div class="col-md-3 col-sm-6 text-center mt-30 wow fadeInRight" data-wow-delay=".4s">
       <div class="steps-block">
        <div class="step-iocn bg-light-green">
          <i class="fa fa-check-circle"></i>
          <div class="step-count">4</div>
        </div>
        <h4 class="block-title">
          {% trans "Make the Deal" %}
        </h4>
        <p>
          {% trans "Your choices are ours, we make the deal happen." %}
        </p>
       </div> <!-- END steps-block-->
      </div> <!--END col-md-3 col-sm-6-->
      
    </div> <!-- END row-->
  </div> <!-- END container-->
</section> <!-- END steps-->





<section id="approach">
  <div class="container">
    <div class="row">
     
      <div class="col-md-7 text-center hidden-xs">
        <div class="approach-thumb">
          <img src="{% static "/img//puerto_maritimo.jpg" %}" alt="" style="margin-bottom: 3rem;">
        </div>
      </div> <!-- END col-md-7-->
      
      <div class="col-md-5 text-center wow fadeIn">
        <div class="approch-text">
          <h4> <span class="color-text">{% trans "Our approach" %}</span> </h4>
          <h2 class="section-title">
            {% blocktrans %} Balancing risk <br> and opportunity {% endblocktrans %}
          </h2>
          <p>
           {% trans  "We work with a range of companies from many areas to get the best prices and reduce risks of a new market." %}
          </p>
        </div>
      </div> <!-- END col-md-5-->
      
    </div> <!-- END row-->
  </div> <!-- END container-->
</section> <!-- END approach-->





<section id="services" style="margin-top:2rem;">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <div class="feature-slider owl-carousel">
         
          <div class="feature-item">
            <div class="feature-img">
              <img src="{% static "/img//feature/1.jpg" %}" alt="">
            </div>
            <h4 class="block-title">
              {% trans "Budget data & Report" %}
            </h4>
            <p>
              {% trans "Data and report about any company, products of your need, prices of production in the Brazilian market." %}
            </p>
          </div> <!-- END feature-item-->
          
          <div class="feature-item">
            <div class="feature-img">
              <img src="{% static "/img//feature/2.jpg" %}" alt="">
            </div>
            <h4 class="block-title">
              {% trans "Planning & Quality" %}
            </h4>
            <p>
              {% trans "Product quality, connecting companies, planning for business and relationship." %}
            </p>
          </div> <!-- END feature-item-->
          
          <div class="feature-item">
            <div class="feature-img">
              <img src="{% static "/img//feature/3.jpg" %}" alt="">
            </div>
            <h4 class="block-title">
              {% trans "Negociation & Transit" %}
            </h4>
            <p>
              {% trans "Building and finalizing negotiation between companies. Preparing for transit and transport to the final destination." %}
            </p>
          </div> <!-- END feature-item-->
           
                  
        </div> <!-- END feature-slider-->
      </div> <!-- END col-sm-12-->
    </div> <!-- END row-->
  </div> <!-- END container-->
</section> <!-- END features-->






<section id="fun-facts">
  <div class="container">
    <!-- <div class="row">
     
      <div class="col-md-3 col-sm-6 wow zoomIn" data-wow-duration="1s" data-wow-delay=".1s">
        <div class="fun-fact-block text-center">
          <h2 class="count" data-from="0" data-to="2360" data-speed="1500">2360</h2>
          <span class="fact-icon"><i class="fa fa-code"></i></span>
          <p>Lines of code</p>
        </div>
      </div>
      
      <div class="col-md-3 col-sm-6 wow zoomIn" data-wow-duration="1s" data-wow-delay=".3s">
        <div class="fun-fact-block text-center">
          <h2 class="count" data-from="0" data-to="12360" data-speed="2500">12360</h2>
          <span class="fact-icon"><i class="fa fa-thumbs-o-up"></i></span>
          <p>Cup Of Coffee</p>
        </div>
      </div>
      
      <div class="col-md-3 col-sm-6 wow zoomIn" data-wow-duration="1s" data-wow-delay=".5s">
        <div class="fun-fact-block text-center">
          <h2 class="count" data-from="0" data-to="250" data-speed="2500">250</h2>
          <span class="fact-icon"><i class="fa fa-coffee"></i></span>
          <p>Satisfied Clients</p>
        </div>
      </div>
      
      <div class="col-md-3 col-sm-6 wow zoomIn" data-wow-duration="1s" data-wow-delay=".7s">
        <div class="fun-fact-block text-center">
          <h2 class="count" data-from="0" data-to="27" data-speed="2500">27</h2>
          <span class="fact-icon"><i class="fa fa-angellist"></i></span>
          <p>Awards Won</p>
        </div>
      </div>
      
    </div> -->
  </div>
</section> <!-- END fun-facts-->




<!--
<section id="media-coverage">
  <div class="container">
   
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2 class="section-title">Services <span class="color-text">Featured</span> in </h2>
        <p class="section-tagline">
          There are many variations of passages of Lorem Ipsum available, but <br> the majority have suffered alteration in some form
        </p>
      </div>
    </div>
    
    <div class="row">
      <div class="col-sm-12 text-center">
        <ul class="list-inline logos">
          <li class="wow fadeIn" data-wow-duration="1s" data-wow-delay=".1s">
            <a href="#">
              <img src="{% static "/img//clients/1.png" %}" alt="">
            </a>
          </li>
          <li class="wow fadeIn" data-wow-duration="1s" data-wow-delay=".2s">
            <a href="#">
              <img src="{% static "/img//clients/2.png" %}" alt="">
            </a>
          </li>
          <li class="wow fadeIn" data-wow-duration="1s" data-wow-delay=".3s">
            <a href="#">
              <img src="{% static "/img//clients/3.png" %}" alt="">
            </a>
          </li>
          <li class="wow fadeIn" data-wow-duration="1s" data-wow-delay=".4s">
            <a href="#">
              <img src="{% static "/img//clients/4.png" %}" alt="">
            </a>
          </li>
          <li class="wow fadeIn" data-wow-duration="1s" data-wow-delay=".5s">
            <a href="#"><img src="{% static "/img//clients/5.png" %}" alt=""></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>  END media-coverage-->






<!--
<section id="testimonials">
  <div class="container">
    <div class="row">
     
      <div class="col-md-5">
        <div class="testimonials-box">
          <h4>Solving Problems and Keeping Clients Happy</h4>
          <p>
            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
          </p>
          <p>
            If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.
          </p>
        </div>
      </div>
      
      <div class="col-md-7">
       
        <div class="testimonial-slides owl-carousel">
         
          <div class="tm-item">
            <div class="tm-author-avatar">
              <img src="{% static "/img//author/1.png" %}" alt="">
            </div>
            <div class="tm-text">
              <p>
                If you live long enough, you'll make mistakes. But if you learn from them, you'll be a better person. It's how you handle adversity, not how it affects you. The main thing is never quit, never quit, never quit. 
              </p>
              <h4>Anton Kosolapov</h4>
              <span>Ceo Envato</span>
            </div>
          </div>
          
          <div class="tm-item">
            <div class="tm-author-avatar">
              <img src="{% static "/img//author/2.jpg" %}" alt="">
            </div>
            <div class="tm-text">
              <p>
                If you live long enough, you'll make mistakes. But if you learn from them, you'll be a better person. It's how you handle adversity, not how it affects you. The main thing is never quit, never quit, never quit. 
              </p>
              <h4>Merry Dune</h4>
              <span>Ceo EchoTheme</span>
            </div>
          </div>
          
          <div class="tm-item">
            <div class="tm-author-avatar">
              <img src="{% static "/img//author/3.jpg" %}" alt="">
            </div>
            <div class="tm-text">
              <p>
                If you live long enough, you'll make mistakes. But if you learn from them, you'll be a better person. It's how you handle adversity, not how it affects you. The main thing is never quit, never quit, never quit. 
              </p>
              <h4>David Duarte</h4>
              <span>Ceo Envato</span>
            </div>
          </div>
          
        </div>
      </div>
      
    </div>
  </div>
</section>  END testimonials-->





<section id="main-benefits">
  <div class="container">
   
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2 class="section-title">{% blocktrans %} Your Main <span class="color-text"> Benefits {% endblocktrans %}</span></h2>
        <p class="title-tagline">
          {% blocktrans %} Our purpose is to show the best prices of the market to <strong> you {% endblocktrans %}</strong>.
        </p>
      </div> <!-- END col-sm-12 -->
    </div> <!-- END row-->
    
    <div class="row">
      <div class="col-sm-12">
       
        <div class="benefit-slides owl-carousel mt-30">
         
          <div class="benefit-single">
            <div class="benefit-count">
              <span>01</span>
            </div>
            <h4 class="block-title">{% trans "Super Fast" %}</h4>
            <p>
              {% trans "We do the market search and filter it for you." %}
            </p>
          </div> <!-- END benefit-single-->
          
          <div class="benefit-single">
            <div class="benefit-count">
              <span>02</span>
            </div>
            <h4 class="block-title">{% trans "Simple & Light" %}</h4>
            <p>
              {% trans "Clear and Concise report for good business decision." %}
            </p>
          </div> <!-- END benefit-single-->
          
          <div class="benefit-single">
            <div class="benefit-count">
              <span>03</span>
            </div>
            <h4 class="block-title">{% trans "Easy To Use" %}</h4>
            <p>
              {% trans "Just make contact and we do the job for you." %}
            </p>
          </div> <!-- END benefit-single-->
          
          <div class="benefit-single">
            <div class="benefit-count">
              <span>04</span>
            </div>
            <h4 class="block-title">{% trans "Customized plans" %}</h4>
            <p>
              {% blocktrans %} Choose any product from the Brazilian market <br> as you need it, and with its specifications. {% endblocktrans %}
            </p>
          </div> <!-- END benefit-single-->
          
        <!--  <div class="benefit-single">
            <div class="benefit-count">
              <span>05</span>
            </div>
            <h4 class="block-title">Unlimited access</h4>
            <p>
              It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. 
            </p>
          </div>  END benefit-single-->
          
          <div class="benefit-single">
            <div class="benefit-count">
              <span>05</span>
            </div>
            <h4 class="block-title">{% trans "Earn a team" %}</h4>
            <p>
              {% trans "Our team is all at your disposal." %}
            </p>
          </div> <!-- END benefit-single-->
          
        </div> <!-- END benefit-slides-->
      </div> <!-- END col-sm-12-->
    </div> <!-- END row-->
  </div> <!-- END container-->
</section> <!-- END main-benefits-->



<!--

<section id="faq">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2 class="section-title">Frequently Asked Questions</h2>
      </div>
    </div>
    
    <div class="row">
     
      <div class="col-sm-6 faq-block wow fadeIn" data-wow-duration="1s" data-wow-delay=".1s">
        <h4>
          Q: Is it possible to "sell" Free Software?
        </h4>
        <p>
          Free Software is only about the freedom that the software provides, not its cost. So its basically alright to "sell" Free Software. But then the point is - who is going to "purchase" free software?
        </p>
      </div>
      
      <div class="col-sm-6 faq-block wow fadeIn" data-wow-duration="1s" data-wow-delay=".3s">
        <h4>
          Q: I develop proprietary software as a business. How do I use or contribute to the Free Software movement?
        </h4>
        <p>
          The best way to contribute to the Free Software Movement is to create, support and promote Free Software itself. The more ways in which people can access Free Software, the more users can use it.
        </p>
      </div>
      
    </div>

    <div class="row">
     
      <div class="col-sm-6 faq-block wow fadeIn" data-wow-duration="1s" data-wow-delay=".4s">
        <h4>
          Q: How do I build a business if I don't restrict my users from sharing my software with others?
        </h4>
        <p>
          There are other ethical ways of building a business without restricting your users' freedom. To start with, there are services, support and warranty to charge for - it all depends on where your skills and goals lie. The only thing that Free Software changes in the typical "software as a business" model is that it removes the exclusivity you would have as a sole distributor of the software. You still have the ability of charging for value-additions and services.
        </p>
      </div>
      
      <div class="col-sm-6 faq-block wow fadeIn" data-wow-duration="1s" data-wow-delay=".6s">
        <h4>
          Q: All software I develop is usually custom software for others and doesn't get publicly distributed. What relevance do Free Software and Free Software licenses have here?
        </h4>
        <p>
          Even if the software you develop does not get publicly distributed, you can still provide the same sort of freedom to your users.
        </p>
        <p>
           To start with, share the source of your application with your customers - not just at the end of the project, but throughout the development of the project as well. This will provide better control to your customers. 
        </p>
      </div>
      
    </div>
  </div>
</section>  END faq-->





<section id="pricing">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2 class="section-title">{% trans "Choose Your Plan" %}</h2>
        <p class="title-tagline">
          {% trans "Get the services you want." %}
        </p>
      </div>
    </div> <!-- END row-->
    <div class="row">

      <div class="col-md-3 col-sm-6 text-center no-padding">
        <div class="pricing-plan">
          <div class="plan-head">
            <p>{% trans "Basic" %}</p>
          </div>
          <div class="plan-value">
            <h4><sup>$</sup>{% trans "3,000" %}</h4>
            <p>{% trans "Per Month" %}</p> 
          </div>
          <div class="plan-feature">
            <ul>
              <li><i class="fa fa-check"></i>{% trans  "Data on production and sales" %}</li>
              <li><i class="fa fa-check"></i>{% trans "Buying and transport budget estimation" %}</li>
              <li><i class="fa fa-check"></i>{% trans "Follow market evolution (specific period of time)" %}</li>
              <li><span class="text-muted">{% trans "Detailed report on Brazilian market (specific product)" %}</span></li>
              <li><span class="text-muted">{% trans "Entrepreneurial relationship between Africa and Brazil" %}</span></li>
              <li><span class="text-muted">{% trans "Assistance for business negotiation" %}</span></li>
              <li><span class="text-muted">{% trans "Assistance for business transaction" %}</span></li>
              <li><span class="text-muted">{% trans "Assistance for the transport to final destination" %}</span></li>

            </ul>
          </div>
        <!--  <div class="plan-buy">
            <a href="#contact" class="btn btn-theme">Get plan</a>
          </div> -->
        </div> <!-- END pricing-plan-->
      </div> <!-- END col-md-3 col-sm-6-->

        <div class="col-md-3 col-sm-6 text-center no-padding">
        <div class="pricing-plan">
          <div class="plan-head">
            <p>{% trans "Silver" %}</p>
          </div>
          <div class="plan-value">
            <h4><sup>$</sup>{% trans "5,000" %}</h4>
            <p>{% trans "Per Month" %}</p> 
          </div>
          <div class="plan-feature">
            <ul>
              <li><i class="fa fa-check"></i> {% trans "Data on production and sales" %}</li>
              <li><i class="fa fa-check"></i>{% trans "Buying and transport budget estimation" %}</li>
              <li><i class="fa fa-check"></i>{% trans "Follow market evolution (specific period of time)" %}</li>
              <li><i class="fa fa-check"></i>{% trans "Detailed report on Brazilian market (specific product)" %}</li>
              <li><span class="text-muted">{% trans "Entrepreneurial relationship between Africa and Brazil" %}</span></li>
              <li><span class="text-muted">{% trans "Assistance for business negotiation" %}</span></li>
              <li><span class="text-muted">{% trans "Assistance for business transaction" %}</span></li>
              <li><span class="text-muted">{% trans "Assistance for the transport to final destination" %}</span></li>

            </ul>
          </div>
        <!--  <div class="plan-buy">
            <a href="#contact" class="btn btn-theme">Get plan</a>
          </div> -->
        </div> <!-- END pricing-plan-->
      </div> <!-- END col-md-3 col-sm-6-->

        <div class="col-md-3 col-sm-6 text-center no-padding">
        <div class="pricing-plan recommanded">
          <div class="plan-head">
            <p>{% trans "Gold" %}</p>
          </div>
          <div class="plan-value">
            <h4><sup>$</sup>{% trans "10,000" %}</h4>
            <p>{% trans "Per Month" %}</p>
          </div>
          <div class="plan-feature">
            <ul>
              <li><i class="fa fa-check"></i>{% trans "Data on production and sales" %}</li>
              <li><i class="fa fa-check"></i>{% trans "Buying and transport budget estimation" %}</li>
              <li><i class="fa fa-check"></i>{% trans "Follow market evolution (specific period of time)" %}</li>
              <li><i class="fa fa-check"></i>{% trans "Detailed report on Brazilian market (specific product)" %}</li>
              <li><i class="fa fa-check"></i>{% trans "Entrepreneurial relationship between Africa and Brazil" %}</li>
              <li><i class="fa fa-check"></i>{% trans "Assistance for business negotiation" %}</li>
              <li><span class="text-muted">{% trans "Assistance for business transaction" %}</span></li>
              <li><span class="text-muted">{% trans "Assistance for the transport to final destination" %}</span></li>

            </ul>
          </div>
        <!--  <div class="plan-buy">
            <a href="#contact" class="btn btn-theme">Get plan</a>
          </div> -->
        </div> <!-- END pricing-plan-->
      </div> <!-- END col-md-3 col-sm-6-->


        <div class="col-md-3 col-sm-6 text-center no-padding">
        <div class="pricing-plan">
          <div class="plan-head">
            <p>{% trans "Diamond" %}</p>
          </div>
          <div class="plan-value">
            <h4><sup>$</sup>{% trans "20,000" %}</h4>
            <p>{% trans "Per Month" %}</p>
          </div>
          <div class="plan-feature">
            <ul>
              <li><i class="fa fa-check"></i>{% trans "Data on production and sales" %}</li>
              <li><i class="fa fa-check"></i>{% trans "Buying and transport budget estimation" %}</li>
              <li><i class="fa fa-check"></i>{% trans "Follow market evolution (specific period of time)" %}</li>
              <li><i class="fa fa-check"></i>{% trans "Detailed report on Brazilian market (specific product)" %}</i></li>
              <li><i class="fa fa-check"></i>{% trans "Entrepreneurial relationship between Africa and Brazil" %}</i></li>
              <li><i class="fa fa-check"></i>{% trans "Assistance for business negotiation" %}</i></li>
              <li><i class="fa fa-check"></i>{% trans "Assistance for business transaction" %}</i></li>
              <li><i class="fa fa-check"></i>{% trans "Assistance for the transport to final destination" %}</i></li>

            </ul>
          </div>
         <!-- <div class="plan-buy">
            <a href="#contact" class="btn btn-theme">Get plan</a>
          </div> -->
        </div> <!-- END pricing-plan-->
      </div> <!-- END col-md-3 col-sm-6-->


      

      

      


    </div> <!-- END row-->
  </div> <!-- END container-->
</section> <!-- END pricing-->




<!--
<section id="team">
  <div class="team-top-title">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-6">
          <h2 class="section-title">Meet Our Team</h2>
        </div>
        <div class="col-md-8 col-sm-6">
           <p>
            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words.
          </p> 
        </div>
      </div> 
    </div> 
  </div> 
  <div class="container-fluid">
    <div class="row">
     
      <div class="col-md-3 col-sm-6 no-padding wow fadeIn" data-wow-duration="1s" data-wow-delay=".1s">
       <div class="team-single">
        <div class="team-img">
          <img src="{% static "/img//team/1.jpg" %}" alt="">
        </div>
        <div class="team-overlay">
          <h4>Gustavo Souza</h4>
          <p>CEO of Beborn</p>
          <div class="team-social">
            <a href=""><i class="fa fa-facebook"></i></a>
            <a href=""><i class="fa fa-twitter"></i></a>
            <a href=""><i class="fa fa-linkedin"></i></a>
            <a href=""><i class="fa fa-instagram"></i></a>
          </div>
        </div>
       </div>
      </div>  
     
      <div class="col-md-3 col-sm-6 no-padding wow fadeIn" data-wow-duration="1s" data-wow-delay=".2s">
       <div class="team-single">
        <div class="team-img">
          <img src="{% static "/img//team/2.jpg" %}" alt="">
        </div>
        <div class="team-overlay">
          <h4>Erik Kennedy</h4>
          <p>Support Manager</p>
          <div class="team-social">
            <a href=""><i class="fa fa-facebook"></i></a>
            <a href=""><i class="fa fa-twitter"></i></a>
            <a href=""><i class="fa fa-linkedin"></i></a>
            <a href=""><i class="fa fa-instagram"></i></a>
          </div>
        </div>
       </div>
      </div>  
     
      <div class="col-md-3 col-sm-6 no-padding wow fadeIn" data-wow-duration="1s" data-wow-delay=".3s">
       <div class="team-single">
        <div class="team-img">
          <img src="{% static "/img//team/3.jpg" %}" alt="">
        </div>
        <div class="team-overlay">
          <h4>Arwen Kennedy</h4>
          <p>Designer</p>
          <div class="team-social">
            <a href=""><i class="fa fa-facebook"></i></a>
            <a href=""><i class="fa fa-twitter"></i></a>
            <a href=""><i class="fa fa-linkedin"></i></a>
            <a href=""><i class="fa fa-instagram"></i></a>
          </div>
        </div>
       </div>
      </div> 


      <div class="col-md-3 col-sm-6 no-padding wow fadeIn" data-wow-duration="1s" data-wow-delay=".4s">
       <div class="team-single">
        <div class="team-img">
          <img src="{% static "/img//team/4.jpg" %}" alt="">
        </div>
        <div class="team-overlay">
          <h4>Nue Howlay</h4>
          <p>Programmer</p>
          <div class="team-social">
            <a href=""><i class="fa fa-facebook"></i></a>
            <a href=""><i class="fa fa-twitter"></i></a>
            <a href=""><i class="fa fa-linkedin"></i></a>
            <a href=""><i class="fa fa-instagram"></i></a>
          </div>
        </div>
       </div>
      </div>  
      
    </div> 
  </div> 
</section>  -->





<section id="contact">
  <div class="container">
    <div class="row">
     
      <div class="col-md-5 col-sm-6">
        <h4 class="block-title">
          {% trans "If you’re looking for answers or problem solving, you’ll find many ways to contact us right here." %}
        </h4>
          <hr>
        <address class="contact-address">
          <p>{% trans "Address" %}: R. Marechal Floriano Peixoto, 370, <br>CEP: 90020-060 <br>Porto Alegre - RS Brazil </p>
            <hr>
          <p>Email : <a href="mailto:contact@br-mercato.com">contact@br-mercato.com</a></p>
         <p>{% trans "Phone" %} :+55 51 99730 8385</p>
            <hr>
        </address>
        <div class="social">
         <ul class="list-inline">
           <li>
             <a href=""><i class="fa fa-facebook"></i></a>
           </li>
           <li>
             <a href=""><i class="fa fa-twitter"></i></a>
           </li>
           <li>
             <a href=""><i class="fa fa-google-plus"></i></a>
           </li>
           <li>
             <a href=""><i class="fa fa-pinterest-p"></i></a>
           </li>
         </ul>
        </div> <!-- END social-->
      </div> <!-- END col-md-5-->

        <style>
            #loader {
                display: none;
                position: relative;
                //top: 0;
                //left: 0;
                z-index: 100;
                width: 35rem;
                height: 55rem;
                background-color: rgba(255, 255, 255, 0.5);
                background-image: url("{% static 'img/loading.gif' %}");
                background-repeat: no-repeat;
                background-position: center;}

                .alert-success{
                    display: none;
                }

                .alert-danger{
                    display: none;
                }
        </style>

      
      <div class="col-md-6 col-md-offset-1 col-sm-6">

          <div class="alert alert-success" id="success">
                <strong>{% blocktrans %} Well done! </strong> Your message is have been submited.{% endblocktrans %}
            </div>
          <div class="alert alert-danger" id="danger">
        <strong>{% blocktrans %} Ooops !</strong> Something went wrong, try again. {% endblocktrans %}
      </div>

      <div id="loader" class="center-block" ></div>

        <form   data-toggle="validator" id="contactForm" >
            {% csrf_token %}

          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <input type="text" class="form-control" name="full_name" id="full_name" placeholder="{% trans "Full Name" %}" required>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <input type="text" class="form-control" name="company_name" id="company_name" placeholder="{% trans "Company Name" %}" required>
              </div>
            </div>
          </div>

            <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <input type="email" class="form-control" name="mail" id="mail" placeholder="Email" required>
                  </div>
                </div>

                <div class="col-sm-6">
                  <div class="form-group">
                    <input type="tel" class="form-control" name="telefone" id="telefone" placeholder="{% trans "Phone " %}" required>
                  </div>
                </div>
            </div>

          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <select class="form-control input-lg" name="plan" id="plan" >
                    <option>{% trans "Plan D (Basic)" %}</option>
                    <option>{% trans "Plan C (Silver)" %}</option>
                    <option selected>{% trans "Plan B (Gold)" %}</option>
                    <option>{% trans "Plan A (Diamond)" %}</option>
                </select>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="{% trans "Subject" %}" required>
              </div>
            </div>
          </div> <!-- END row-->
            <div class="form-group">
              <textarea class="form-control" name="message" id="message" placeholder="Message" rows="8" required></textarea>
            </div>
          <button class="btn btn-block btn-theme" type="submit">{% trans "Send message" %}</button>
        </form>
      </div> <!-- END col-md-6 col-md-offset-1-->
    </div> <!-- END row-->
  </div> <!-- END container-->
</section> <!-- END contact-->






<div id="location-map" style="width:100%; height:450px;"></div>





<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-6">
          <div class="footer-widget">
            <h4>{% trans "About Us" %}</h4>
            <p class="text-justify">
              {% trans "Br-Mercato is a group of professionals passionately committed to offer a trade consulting service to any company that need or want to get access to the Brazilian market. We work for those who seek to buy products or increase business revenue in their own country or market. We are a team of young and dynamic people with experience on market analysis and international trade consulting ." %}
            </p>
          </div>
        </div>
        <div class="col-md-2 col-sm-6">
          <div class="footer-widget">
            <h4>{% trans "Useful Links" %}</h4>
            <ul>
              <li><a href="">{% trans "About Us" %}</a></li>

            <!--  <li><a href="">Terms & Conditions</a></li>
              <li><a href="">Privacy Policy</a></li> -->

            </ul>
          </div>
        </div>
      <!--  <div class="col-md-3 col-sm-6">
          <div class="footer-widget">
            <h4>Recent Tweets</h4>
            <div class="tweet"></div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="footer-widget widget-instargram">
            <h4>Instargram</h4>
            <div id="instafeed"></div>
          </div>
        </div> -->
      </div> <!-- END row-->
    </div> <!-- END container-->
  </div> <!-- END footer-top-->
  

  <div class="footer-bottom">
    <p>{% blocktrans %} Copyright &copy; Br-Mercato 2018 | All right reserved. {% endblocktrans %}</p>
  </div>
</footer> <!-- END footer-->



<div class="scroll-top">
    <i class="fa fa-angle-up" aria-hidden="true"></i>
</div>




<!-- START THEME SWITCHER ONLY FOR DEMO

<div class="switcher-wrap">
  <div class="switcher-trigger">
    <span class="icon icon-settings-1"></span>
  </div>
   <div class="layout">
   <h4>Layout</h4>
   <ul>
     <li><a href="../layout-1/index.html">Layout 1</a></li>
     <li><a href="../layout-2/index.html">Layout 2</a></li>
     <li><a href="../layout-3/index.html">Layout 3</a></li>
     <li><a href="../layout-4/index.html">Layout 4</a></li>
   </ul>
   
  </div>
  <div class="color-switcher">
   <h4>Colors</h4>
    <ul class="clearfix">
      <li class="color-default active" data-color="default"></li>
      <li class="color-blue" data-color="blue"></li>
      <li class="color-green" data-color="green"></li>
      <li class="color-green-jungle" data-color="green-jungle"></li>
      <li class="color-maroon-light" data-color="maroon-light"></li>
      <li class="color-yellow" data-color="yellow"></li>
    </ul>
    <span>Those are demo color. you can use your brand color <strong>very</strong> easily <i class="fa fa-smile-o"></i></span>
  </div>
 </div>
 END THEME SWITCHER ONLY FOR DEMO-->



<!-- scripts-->
<!-- <script src="{% static "/vendor/jquery/dist/jquery.min.js" %}"></script> -->
<script src="{% static "/vendor/jquery/jquery.min.js" %}"></script>
<script src="{% static "/vendor/bootstrap/dist1/js/bootstrap.min.js" %}"></script>
<script src="{% static "/vendor/owl.carousel/dist/owl.carousel.min.js" %}"></script>
<script src="{% static "/vendor/magnific-popup/dist/jquery.magnific-popup.min.js" %}"></script>
<script src="{% static "/vendor/instafeed.js/instafeed.min.js" %}"></script>
<script src="{% static "/vendor/tweetie-master/tweetie.min.js" %}"></script>
<script src="{% static "/vendor/bootstrap-validator-master/dist/validator.min.js" %}"></script>
<script src="{% static "/js/wow.min.js" %}"></script>
<script src="{% static "/js/parallax.js" %}"></script>
<script src="{% static "/js/easing.js" %}"></script>
<script src="{% static "/js/count.js" %}"></script>
<script src="{% static "/js/beborn.js" %}"></script>
<script src="{% static "/js/message.js" %}"></script>
<script src="{% static "/js/news.js" %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?&key=AIzaSyB0uuKeEkPfAo7EUINYPQs3bzXn7AabgJI"></script>

<script>
/*
====================
 Google map initialize
==================== 
*/
function initMap(){
  
var myLatlng = new google.maps.LatLng(-30.0312363, -51.2280851);
  
var mapOptions = {
    zoom: 12,
    center: myLatlng,
    mapTypeId: 'roadmap',
    zoomControl: false,
    scrollwheel: false,
    styles:[
            {
              "elementType": "geometry",
              "stylers": [
                {
                  "color": "#f5f5f5"
                }
              ]
            },
            {
              "elementType": "labels.icon",
              "stylers": [
                {
                  "visibility": "off"
                }
              ]
            },
            {
              "elementType": "labels.text.fill",
              "stylers": [
                {
                  "color": "#616161"
                }
              ]
            },
            {
              "elementType": "labels.text.stroke",
              "stylers": [
                {
                  "color": "#f5f5f5"
                }
              ]
            },
            {
              "featureType": "administrative.land_parcel",
              "elementType": "labels.text.fill",
              "stylers": [
                {
                  "color": "#bdbdbd"
                }
              ]
            },
            {
              "featureType": "poi",
              "elementType": "geometry",
              "stylers": [
                {
                  "color": "#eeeeee"
                }
              ]
            },
            {
              "featureType": "poi",
              "elementType": "labels.text.fill",
              "stylers": [
                {
                  "color": "#757575"
                }
              ]
            },
            {
              "featureType": "poi.park",
              "elementType": "geometry",
              "stylers": [
                {
                  "color": "#e5e5e5"
                }
              ]
            },
            {
              "featureType": "poi.park",
              "elementType": "labels.text.fill",
              "stylers": [
                {
                  "color": "#9e9e9e"
                }
              ]
            },
            {
              "featureType": "road",
              "elementType": "geometry",
              "stylers": [
                {
                  "color": "#ffffff"
                }
              ]
            },
            {
              "featureType": "road.arterial",
              "elementType": "labels.text.fill",
              "stylers": [
                {
                  "color": "#757575"
                }
              ]
            },
            {
              "featureType": "road.highway",
              "elementType": "geometry",
              "stylers": [
                {
                  "color": "#dadada"
                }
              ]
            },
            {
              "featureType": "road.highway",
              "elementType": "labels.text.fill",
              "stylers": [
                {
                  "color": "#616161"
                }
              ]
            },
            {
              "featureType": "road.local",
              "elementType": "labels.text.fill",
              "stylers": [
                {
                  "color": "#9e9e9e"
                }
              ]
            },
            {
              "featureType": "transit.line",
              "elementType": "geometry",
              "stylers": [
                {
                  "color": "#e5e5e5"
                }
              ]
            },
            {
              "featureType": "transit.station",
              "elementType": "geometry",
              "stylers": [
                {
                  "color": "#eeeeee"
                }
              ]
            },
            {
              "featureType": "water",
              "elementType": "geometry",
              "stylers": [
                {
                  "color": "#c9c9c9"
                }
              ]
            },
            {
              "featureType": "water",
              "elementType": "labels.text.fill",
              "stylers": [
                {
                  "color": "#9e9e9e"
                }
              ]
            }
        ],
};
  
var map = new google.maps.Map(document.getElementById('location-map'),mapOptions);

// Map marker
var marker = new google.maps.Marker({
    position: mapOptions.center,
    icon: '{% static '/img/map-marker.png' %}',
    map:map
  });
  
}
  
initMap();
  
</script>
</body>
</html>
