{% extends "mercato/base.html"%}
{% load staticfiles %}


    {% block content %}


    <!-- main page -->
    <div id="sub-main">
       
        <div class="container-fluid">
            <div class="row text-center align-items-center">
                <div class="col-12">
                   <div class="text-partner">
                       <h1 class="display-6">Paper & Pulp</h1>
                      
                   </div>
                   <hr>
                </div>
            </div>
        </div>
            
    </div>
    <!-- End main page -->

  
   <div id="sub-one" class="parallax-window" data-parallax="scroll" data-image-src="/static/img/papel/caixa-papel.jpg" style="min-height: 60%;">
       <div class="container-fluid">
           <div class="row">
               
           </div>
       </div>
   </div>
   
   <div id="sub-two">
       <div class="container-fluid">
           <div class="row">
               <div class="col-md-6">
                   <img src="{% static "img/papel/papel.jpg" %}" alt="" class="img-fluid mx-auto d-block mt-3 mb-3" style="height: 20rem; width: 35rem;">
               </div>
               <div class="col-md-6" style="color: #ffb900; font-weight: bold;">
                   
                   <div class="list-group" style="padding: 1rem;">
                      <a href="#" class="list-group-item list-group-item-action" style="background-color: #ffb81e;">
                        Papel & celulose
                      </a>
                      <a href="#" class="list-group-item list-group-item-action">Corrugated paper & boxes</a>
                      <a href="#" class="list-group-item list-group-item-action">Kraft paper reel & Kraft paper bags</a>
                      <a href="#" class="list-group-item list-group-item-action">Office supplies and miscellaneous</a>
                      <a href="#" class="list-group-item list-group-item-action">Toilet paper, scarves and other</a>
                    </div>
                   
                   
               </div>
           </div>
       </div>
   </div> 
   
     <div id="sub-tree" class="parallax-window" data-parallax="scroll" data-image-src="/static/img/papel/sacolas-em-papel.jpg" style="min-height: 60%;">
       <div class="container-fluid">
           <div class="row">
               
           </div>
       </div>
   </div> 
    
  {% endblock %}