{% extends "mercato/base.html"%}
{% load staticfiles %}


    {% block content %}

    <!-- main page -->
    <div id="sub-main" class="parallax-window" data-parallax="scroll" data-image-src="img/partner.jpg">
       
        <div class="container-fluid">
            <div class="row text-center align-items-center">
                <div class="col-12">
                   <div class="text-partner">
                       <h1 class="display-6">Our Services</h1>
                      
                   </div>
                   <hr>
                </div>
            </div>
        </div>
            
    </div>
    <!-- End main page -->

   <div id="sub-content" style="padding-bottom: 1.5rem;">
       <div class="container">
           <div class="row">
                        
              <div class="col-md-4 col-sm-6 text-center">
                   <div class="pricing-plan">
                      <div class="plan-head">
                        <p>Silver</p>
                      </div>
                      <div class="plan-value">
                          <h4><sup>$</sup>359,85</h4>
                          <p>Per Product</p>
                      </div>
                      <div class="plan-feature">
                          <ul>
                              <li><span class="fa fa-check">Data on production and sales on Brazilian market (specific product)</span></li>
                              <li><span class="fa fa-check">Market tendency analysis and report (specific product)</span></li>
                              <li><span class="fa fa-check">Buying and transport budget estimation</span></li>                   
                              <li><span class="text-muted">Assistance for business negotiation</span></li>                              
                              <li><span class="text-muted">Assistance for the transit</span></li>
                              <li><span class="text-muted">In-depth market analysis and competitive price sugestion</span></li>

                          </ul>
                      </div>
                     <!-- <div class="plan-buy">
                          <a href="#contact" class="btn btn-theme">Get plan</a>
                      </div> -->
                   </div> <!-- END pricing-plan-->
               </div> <!-- END col-md-3 col-sm-6-->
               <div class="col-md-4 col-sm-6 text-center">
                   <div class="pricing-plan recommanded">
                      <div class="plan-head">
                        <p>Gold</p>
                      </div>
                      <div class="plan-value">
                          <h4><sup>$</sup>559,59</h4>
                          <p>Per Product</p>
                      </div>
                      <div class="plan-feature">
                          <ul>
                              <li><span class="fa fa-check">Data on production and sales on Brazilian market (specific product)</span></li>
                              <li><span class="fa fa-check">Market tendency analysis and report (specific product)</span></li>
                              <li><span class="fa fa-check">Buying and transport budget estimation</span></li>                   
                              <li><span class="fa fa-check">Assistance for business negotiation</span></li>                              
                              <li><span class="text-muted">Assistance for the transit</span></li>
                              <li><span class="text-muted">In-depth market analysis and competitive price sugestion</span></li>

                          </ul>
                      </div>
                    <!--  <div class="plan-buy">
                          <a href="#contact" class="btn btn-theme">Get plan</a>
                      </div> -->
                   </div> <!-- END pricing-plan-->
               </div> <!-- END col-md-3 col-sm-6-->
               <div class="col-md-4 col-sm-6 text-center">
                   <div class="pricing-plan">
                      <div class="plan-head">
                        <p>Platine</p>
                      </div>
                      <div class="plan-value">
                          <h4><sup>$</sup>759,05</h4>
                          <p>Per Product</p>
                      </div>
                      <div class="plan-feature">
                          <ul>
                              <li><span class="fa fa-check">Data on production and sales on Brazilian market (specific product)</span></li>
                              <li><span class="fa fa-check">Market tendency analysis and report (specific product)</span></li>
                              <li><span class="fa fa-check">Buying and transport budget estimation</span></li>                   
                              <li><span class="fa fa-check">Assistance for business negotiation</span></li>                              
                              <li><span class="fa fa-check">Assistance for the transit</span></li>
                              <li><span class="fa fa-check">In-depth market analysis and competitive price sugestion</span></li>

                          </ul>
                      </div>
                    <!--  <div class="plan-buy">
                          <a href="#contact" class="btn btn-theme">Get plan</a>
                      </div> -->
                   </div> <!-- END pricing-plan-->
               </div> <!-- END col-md-3 col-sm-6--> 
                
           </div>
       </div>
   </div> 

{% endblock %}
