<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta Tags-->

    <meta name="keywords" content="">
    <meta name="description" content="Br-Mercato is a startup company build to connect the African continent to the Brasilian market. Handing for more commercial exchange following the BRICS philosophy.">
    <meta name="author" content="Maurice AINON | am.amauri@outlook.com">

    <!-- Viewport Meta-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/x-icon" href="img/mert.png">

    <title>Br-Mercato | Global Trading Service</title>

    <!--css-->
    <link rel="stylesheet" href="vendor/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <link rel="stylesheet" href="css/m-style.css">
    <link rel="stylesheet" href="css/sub-style.css">

</head>

<body data-spy="scroll" data-offset="80">

    <!--navbar item -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top menu-top">
        <div class="container">
            <a href="index.html" class="navbar-brand page-scroll" style="font-size: 30px; color: #606;">
                <img src="img/brm2.png" alt="">
            </a>
            <button class="navbar-toggler my-toggler" type="button" data-toggle="collapse" data-target="#navbar-nav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">
                </span>
            </button>

            <div class="collapse navbar-collapse" id="navbar-nav">
                <ul class="navbar-nav ml-auto" style="margin-left: .3rem;">
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="">Business Divisions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="">Services</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="">Contact</a>
                    </li>

                </ul>

            </div>

        </div>


    </nav>


    <!-- main page -->
    <div id="sub-main">

        <div class="container-fluid">
            <div class="row text-center align-items-center">
                <div class="col-12">
                    <div class="text-partner">
                        <h1 class="display-6">Terms & Conditions</h1>

                    </div>
                    <hr>
                </div>
            </div>
        </div>

    </div>
    <!-- End main page -->


    <!-- business display -->
    <div id="business">
        <div class="container">

            <div class="row align-items-end">

                <div class="col-12 mt-5 mb-4">

                    <p>This website is provided and operated by Br-Mercato Global Trading Company Limited (Br-Mercato).<p>

                            <p>Prior to making use of this website, we would like you to read the following terms and conditions carefully and proceed with its use only if you agree with and will abide by them. Please understand that your access to this website constitutes your full acceptance of these terms and conditions.</p>

                            Metal Challenge may change these terms and conditions at any time when considered necessary. We therefore request you to check these terms and conditions each time you access this website.

                            <p>
                                <strong> 1. Copyrights and Trademarks </strong>
                                <br>
                                All content, information, designs, layouts, logos, trademarks, and other intellectual property contained in this website are protected by copyrights, trademarks, and other intellectual property rights held by Metal Challenge or by other parties that have granted to Metal Challenge the license to make use of them. All persons accessing this website agree to make use of its content in a manner that does not infringe such rights.</p>

                            <p>
                                <strong>2. Operation of This Website </strong>
                                <br>
                                Metal Challenge may change, delete, or otherwise alter the content of this website at any time. In addition, when considered necessary, Metal Challenge may interrupt or suspend the operation of this website itself. Metal Challenge is under no obligation to revise the information on this website to ensure that it is correct at all times.</p>

                            <p>
                                <strong>3. Linked Sites </strong>
                                <br>
                                Metal Challenge makes no guarantee regarding the content of the websites that are linked from this website or the websites of others containing links to this website (collectively the "Linked Sites") as other parties are responsible for the operation of the Linked Sites. Moreover, when making use of the Linked Sites, it is necessary for you to agree with and abide by the terms and conditions of usage of those sites.</p>

                            <p>
                                <strong>4. Disclaimer </strong>
                                <br>
                                METAL CHALLENGE MAKES NO GUARANTEE OR REPRESENTATION REGARDING THE INFORMATION CONTAINED IN THIS WEBSITE, INCLUDING THE TRUTH OF CONTENT, ACCURACY, SAFETY (INCLUDING THE ABSENCE OF COMPUTER VIRUSES OR OTHER HARMFUL CONTENT IN THIS WEBSITE OR THE SERVER THEREOF), OR THE ABSENCE OF INFRINGEMENT OF RIGHTS OF OTHER PARTIES. YOU ARE ENTIRELY RESPONSIBLE FOR ANY DAMAGES OF ANY KIND THAT MAY ARISE FROM ACCESSING THIS WEBSITE.</p>

                            <p>
                                <strong>5. Limitations on Metal Challenge's Responsibilities </strong>
                                <br>
                                METAL CHALLENGE IS NOT RESPONSIBLE IN ANY WAY FOR ANY LOSS, DAMAGE (WHETHER ACTUAL, CONSEQUENTIAL OR OTHERWISE), INJURY, CLAIM, LIABILITY OR OTHER CAUSE OF ANY KIND OR CHARACTER WHATSOEVER BASED UPON OR RESULTING FROM THE USE OF THIS WEBSITE, INCLUDING, BUT NOT LIMITED TO:</p>

                            <p>
                                1. DAMAGES ARISING DUE TO CHANGES TO OR REMOVAL OF INFORMATION CONTAINED ON THIS WEBSITE OR ANY ASPECT OF THE MANAGEMENT OF THIS WEBSITE, INCLUDING INTERRUPTION OR SUSPENSION OF OPERATIONS</p>

                            <p>
                                2. DAMAGES RESULTING FROM THE USE OF THIS WEBSITE OR INFORMATION CONTAINED ON THIS WEBSITE</p>

                            <p>
                                3. DAMAGES ARISING FROM INACCURATE CONTENT ON THIS WEBSITE OR TYPING ERRORS DAMAGES TO SOFTWARE OR HARDWARE THAT OCCUR WHEN DOWNLOADING FROM THIS WEBSITE, ANY INCONVENIENCE ARISING FROM USE OF THIS WEBSITE, PROBLEMS WITH COMPUTER VIRUSES, ANY LOSS OR IMPAIRMENT OF DATA, OR SIMILAR PROBLEMS</p>

                            <p>
                                <strong>Applicable Laws </strong>
                                <br>
                                These terms and conditions shall be governed by and interpreted in accordance with the laws of the People’s Republic of China.</p>

                </div>


            </div>
        </div>
    </div>
    <!-- end business -->



    <!-- footer page -->
    <div id="footer">
        <div class="footer-bottom">
            <p> Copyright © Br-Mercato 2018 | All right reserved. </p>
        </div>
    </div>
    <!-- End footer page -->








    <div id="topcontrol" class="topcontrol" title="" style="position: fixed; bottom: 5px; right: 5px; opacity: 1; cursor: pointer;"><i class="fa fa-arrow-up scrolltop"></i></div>

    <!-- JS -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="vendor/js/bootstrap.min.js"></script>

    <script src="js/scrolltopcontrol.js"></script>
    <script src="js/parallax.min.js"></script>
    <script src="js/script.js"></script>
    <script src="js/custom.js"></script>
    <script src="js/message.js"></script>

    <script src="https://maps.googleapis.com/maps/api/js?&key=AIzaSyBXcpq2ox5fPY2nZejtfSN7bJJ1heb45wg"></script>


</body>

</html>